.text-button {
    width: 100%;
    max-width: inherit;
    text-decoration: none;
    height: fit-content;
    text-align: center;
    padding: .5rem 1rem;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--text-font--title);
    font-size: var(--text-size-l);
    cursor: pointer;
    transition: all .1s ease-in-out;

    border: none;
}

.text-button--animate {
    scale: .95;
}

.text-button:hover {
    background-color: #333;
    transform: translateY(-5px);
}