.site-section--projects {
    grid-template-columns: repeat(9, minmax(0, 1fr));
    min-height: 60rem;
}

.site-section__project-image {
    grid-column: span 2;
    place-self: center;
    width: 100%;
    object-fit: cover;
    max-height: 14rem;
    overflow-y: hidden;
    object-position: top;
    z-index: 20;
}

.site-section__project-image--clicked {
    z-index: 20;
    position: absolute;
}

.site-section__project-image:hover {
    cursor: pointer;
}

.site-section__project-bread {
    grid-column: 1/-1;
    font-size: var(--text-size-l);
    padding-block: 1rem;
    font-style: italic;
}

/* Projekt kortet */
.site-section--projects> :nth-child(1) {
    grid-column: span 6;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    min-height: 0;
}

.site-section--projects> :nth-child(4) {
    padding-top: .5rem;
}



/* Shui */
.site-section--projects> :nth-child(2) {
    grid-row: 2/3;
    grid-column: span 3;

}

.card-wrapper--projects .text-button {
    align-self: end;
}

/* WhereItsAt */
.site-section--projects> :nth-child(3) {
    grid-row: 2/3;
    grid-column: span 3;
    min-height: 36rem;
}

/* RecollAction */
.site-section--projects> :nth-child(4) {
    grid-row: 1/3;
    grid-column: span 3;
}

.site-section--projects> :nth-child(3) .site-section__project-image,
.site-section--projects> :nth-child(4) .site-section__project-image {
    max-width: 17rem;
    align-self: start;
}

.site-section--projects> :nth-child(4) .site-section__project-image {
    max-width: 17rem;
    max-height: 100%;
}

.site-section--projects> :nth-child(4) .site-section__title {
    padding-top: 2rem;
}

.site-section__text-wrapper {
    grid-column: 1/-1;
    min-height: 16.3rem;
    display: block;
    font-size: var(--text-size-l);
}

@media screen and (max-width: 900px) {
    .site-section--projects {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .site-section--projects> :nth-child(1) {
        grid-column: span 4;
    }

    /* Shui */
    .site-section--projects> :nth-child(2) {
        grid-column: span 4;
        grid-row: 2/6;
    }

    /* WhereItsAt */
    .site-section--projects> :nth-child(3) {
        grid-column: span 2;
        grid-row: 6/7;
    }

    /* RecollAction */
    .site-section--projects> :nth-child(4) {
        grid-row: 6/7;
        grid-column: span 2;
    }

    .site-section__project-image {
        grid-column: span 2;
        place-self: center;
        width: 100%;
        object-fit: cover;
        max-height: unset;
        overflow-y: hidden;
        object-position: top;
        z-index: 20;
    }
}

@media screen and (max-width: 520px) {

    /* WhereItsAt */
    .site-section--projects> :nth-child(3) {
        grid-column: 1/-1;
        grid-row: auto;

    }

    /* RecollAction */
    .site-section--projects> :nth-child(4) {
        grid-row: auto;
        grid-column: 1/-1;
    }

    .site-section__project-image {
        max-height: unset;

    }
}