.card-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    position: relative;
    color: var(--color-purple);
    width: 100%;
    grid-column: 1/-1;
    background-color: white;
    line-height: 1.5;
    border-radius: 10% 14% 7% 4% / 6% 6% 4% 5%;
}

.card-wrapper--small {
    padding: 2rem 1rem;
}

.card-wrapper--medium {
    padding: 3rem 2rem;
}

.card-wrapper--big {
    padding: 5rem 3rem;
}

.card-wrapper--inner {
    display: grid;
    grid-column: 1/-1;
}

.card-wrapper--about::after {
    background-color: var(--color-orange);
    content: "";
    position: absolute;
    top: 6rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}



.card-wrapper--about ::selection {
    color: black;
    background: var(--color-orange);
}

.card-wrapper--about ::-moz-selection {
    color: black;
    background: var(--color-orange);
}

.card-wrapper--projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.card-wrapper--projects:first-of-type {
    grid-template-rows: auto 1fr;
}

.card-wrapper--projects:first-of-type h2 {
    margin-left: 0;
}

.card-wrapper--projects:first-of-type::after {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background-color: var(--color-purple);
    inset: 0;
    content: "";
    position: absolute;
    top: 3rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}

.card-wrapper--projects:nth-of-type(4)::after {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background-color: var(--color-purple);
    inset: 0;
    content: "";
    position: absolute;
    top: 3.5rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}

.card-wrapper--projects:nth-of-type(3)::after {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background-color: var(--color-purple);
    inset: 0;
    content: "";
    position: absolute;
    top: 4rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}

.card-wrapper--projects:nth-of-type(2)::after {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background-color: var(--color-purple);
    inset: 0;
    content: "";
    position: absolute;
    top: 4rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}


.card-wrapper--projects ::selection {
    color: white;
    background: var(--color-purple);
}

.card-wrapper--projects ::-moz-selection {
    color: white;
    background: var(--color-purple);
}

#none::after {
    opacity: 0;
}



.card-wrapper--contact::after {
    background-color: var(--color-yellow);
    inset: 0;
    content: "";
    position: absolute;
    top: 6rem;
    left: -1rem;
    width: 2.5rem;
    height: 10rem;
}

@media screen and (max-width: 700px) {

    .card-wrapper--small,
    .card-wrapper--medium,
    .card-wrapper--big {
        padding: 4rem 2rem;
    }

    .card-wrapper--projects:first-of-type::after {
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }

    .card-wrapper--projects:nth-of-type(4)::after {

        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }

    .card-wrapper--projects:nth-of-type(3)::after {

        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }

    .card-wrapper--projects:nth-of-type(2)::after {

        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }

    .card-wrapper--contact::after {
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }

    .card-wrapper--about::after {
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        height: 2rem;
    }


}

@media screen and (max-width: 450px) {

    .card-wrapper--small,
    .card-wrapper--medium,
    .card-wrapper--big {
        padding: 4rem 1.5rem;
    }

}