.page-navigation {
    user-select: none;
    display: grid;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.page-navigation__navigation-list {
    justify-self: end;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 40rem;
    backdrop-filter: blur(10rem);
}