.main {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-height: 100svh;
    width: 100%;
    gap: 10rem;
    margin-top: 12rem;
}

.site-section {
    padding-top: 5rem;
    grid-column: 1/-1;
    gap: 4rem;
    display: grid;
}



.site-section__title {
    color: var(--color-purple);
    font-size: var(--text-size-xxxl);
    grid-column: 1/-1;

}

.site-section__inner-text-wrapper {
    display: grid;
    gap: .2rem;
}

.site-section__bread {
    font-size: var(--text-size-l);
}